nav {
  overflow: hidden;

  .title {
    margin-top: 8px;
  }
  
  a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover {
    background-color: #ccc;
  }

  .icon {
    cursor: pointer;
    display: none;
  }

  .icon:hover {
    background-color: #ccc;
  }
    
  @media screen and (max-width: 600px) {
    a:not(:first-child) {
      display: none;
    }

    .right-icons {
      display: block;
      float: right;
      padding: 14px 16px;
    }

    .profile {
      display: inline-block;
      cursor: pointer;
      margin-right: 20px;

      .account {
        display: inline-block;
        margin-right: 3px;
        font-size: 17px;
        cursor: default;
      }

      i {
        display: inline-block;
      }
    }

    .icon {
      cursor: pointer;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 600px) {
  nav.responsive {
    position: relative;
    
    .right-icons {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}